<nz-header>
  <div class="logo"></div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
    <li nz-menu-item [routerLink]="['/recipes']" routerLinkActive #rlaRecipes="routerLinkActive" [nzSelected]="rlaRecipes.isActive">
      Recipes
    </li>
    <li nz-menu-item [routerLink]="['/shopping-list']" routerLinkActive #rlaShopping="routerLinkActive" [nzSelected]="rlaShopping.isActive">
      Shopping List
    </li>
    <li nz-submenu *ngIf="show">
      <span title><i nz-icon type="setting"></i>Manage</span>
      <ul>
        <li nz-menu-item (click)="onSaveRecipes()">Save Data</li>
        <li nz-menu-item (click)="onGetRecipes()">Fetch Data</li>
      </ul>
    </li>
    <li nz-menu-item [routerLink]="['/login']" routerLinkActive #rlaLogin="routerLinkActive" [nzSelected]="rlaLogin.isActive">Login</li>
  </ul>
</nz-header>
