<h1>Recipe Name</h1>
<!-- button -->
<div nz-row>
  <nz-dropdown>
    <button nz-button nz-dropdown (click)="log()"><span>Manage Recipe</span> <i nz-icon type="down"></i></button>
    <ul nz-menu>
      <li nz-menu-item><a>To Shopping List</a></li>
      <li nz-menu-item><a>Edit Recipe</a></li>
      <li nz-menu-item><a>Delete Recipe</a></li>
    </ul>
  </nz-dropdown>
</div>
<!-- others -->
<div nz-row><div nz-col nzSpan="24">Description</div></div>
<div nz-row><div nz-col nzSpan="24">Ingredients</div></div>
