<form [formGroup]="shoppingForm" (ngSubmit)="onSubmit()">
  <nz-row nzGutter="4">
    <nz-col nzSpan="2" class="ingredient-text"> Ingredient: </nz-col>
    <nz-col nzSpan="6"> <input nz-input placeholder="Ingredient Name" formControlName="name" /> </nz-col>
    <nz-col nzSpan="3"> <input nz-input placeholder="Quantity" formControlName="quantity" type="number" /> </nz-col>
  </nz-row>
  <br />
  <nz-row nzGutter="8">
    <nz-button-group>
      <button nz-button nzType="primary" type="submit" [disabled]="shoppingForm.invalid">{{ editMode ? 'Update' : 'Add' }}</button>
      <button type="button" (click)="onDelete()" nz-button nzType="danger" *ngIf="editMode">Delete</button>
      <button type="button" (click)="onClear()" nz-button nzType="default" [disabled]="shoppingForm.pristine">Clear</button>
    </nz-button-group>
  </nz-row>
</form>
